$color_purple: (
  50: #f3e6f7,
  100: #d9b0e6,
  200: #c68ada,
  300: #ad54c9,
  400: #9d33be,
  500: #8400ae,
  600: #78009e,
  700: #5e007c,
  800: #490060,
  900: #370049,
);

$color_purple2: (
  50: #efe6fd,
  100: #ceb0fa,
  200: #b78af7,
  300: #9654f4,
  400: #8133f1,
  500: #6200ee,
  600: #5900d9,
  700: #4600a9,
  800: #360083,
  900: #290064,
);

$color_purple3: (
  50: #f7e6f3,
  100: #e6b0d9,
  200: #da8ac6,
  300: #c954ac,
  400: #bf339c,
  500: #af0083,
  600: #9f0077,
  700: #7c005d,
  800: #600048,
  900: #4a0037,
);